<!DOCTYPE html>
<html>
  <head prefix=
    "og: http://ogp.me/ns# 
     fb: http://ogp.me/ns/fb# 
     product: http://ogp.me/ns/product#">
    <meta property="og:type"                   content="og:product" />
    <meta property="og:title"                  content="<%=item.get('title')%>" />
    <meta property="og:image"                  content="<%=item.get('image')%>" />
    <meta property="og:description"            content="<%=item.get('description')%>" />
    <meta property="og:url"                    content="<%=og_url%>" />
    <meta property="product:price:currency"    content="USD"/>
    <meta property="product:price:amount"      content="<%=item.get('USD')%>"/>
    <title>OG Item</title>
  </head>
  <body>
    <h1>Product Info For Item <%=item.id%></h1>
  </body>
</html>
